<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@</title>
  <style>html,body{height:100%;margin:0;}</style>
  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
</head>

<body class="p-4">
  <div id="app" @vue:mounted="mounted">
    <span v-ref="mySpan">mySpan</span>
  </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'
    import vName from './index.js'

    const app = createApp({
      mounted() {}
    })
    app.directive('name', vName)
    app.mount('#app')
  </script>
</body>
</html>